{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    th {
      text-align: left;
    }
    </style>

<!-- main section -->
<div class="w3-container" style="padding:118px 5px" id="team">

            <!-- Location section -------------------->
            <div class="w3-col l3 m6 w3-margin-bottom">
              <div class="w3-card">
                <div class="w3-container">
                    <h3 class="w3-">Город</h3>

                    <table id="location">
                            <tr>
                                <th>{{location.name}}</th>
                                <th> </th>
                            </tr>
                            <tr>
                                <th>{{location.country}}</th>
                                <th> </th>
                            </tr>
                            <tr>
                                <th>{{location.localtime}}</th>
                                <th> </th>
                            </tr>
                            <tr>
                                <th>Прогноз самочувствия</th>
                                <th> </th>
                            </tr>
                            <tr>
                                <th>для метеозависимыx</th>
                                <th> </th>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th> </th>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th> </th>
                            </tr>
                    </table>

                </div>
              </div>
            </div>

            <!-- Current section -------------------->
            <div class="w3-col l3 m6 w3-margin-bottom">
              <div class="w3-card">
                <div class="w3-container">
                  <h3>Текущая погода</h3>
                   <table id="currenttable">

                                      <tr>
                                        <th>Температура С </th>
                                        <th>{{current.temp_c}}</th>
                                      </tr>

                                      <tr>
                                        <th>Скорость ветра </th>
                                        <th><a class="w3-{{ current.wind_alert }}">{{current.wind_kph}}</a></th>
                                      </tr>

                                    <tr>
                                        <th>Порывы ветра </th>
                                        <th><a class="w3-{{ current.gust_alert }}">{{current.gust_kph}}</a></th>
                                      </tr>

                                    <tr>
                                        <th>Давление </th>
                                        <th><a class="w3-{{ current.pressure_alert }}">{{current.pressure_mm}}</a></th>
                                    </tr>

                                    <tr>
                                        <th>Магнитные бури </th>
                                        <th><a class="w3-{{ current.k_index_alert }}">{{current.k_index_current}}</a></th>
                                    </tr>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th><a class="w3-"></a></th>
                                    </tr>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th><a class="w3-"></a></th>
                                    </tr>
                            </table>
                </div>
              </div>
            </div>

            <!-- Forecast today section -------------------->
            <div class="w3-col l3 m6 w3-margin-bottom">
              <div class="w3-card">
                <div class="w3-container">
                              <h3>Сегодня</h3>
                            <style>
                            th {
                              text-align: center;
                            }
                            </style>

                            <table id="forecast0table">

                            <tr>
                            <th>Час</th>
                            <th> Темп.</th>
                            <th> Ветер</th>
                            <th> Порыв</th>
                            <th> мм/р.т </th>
                            <th> Бури</th>
                          </tr>



                                {% for hour in forecast.forecastday.0.hour %}
                                    {% if '06:00' in hour.time or '09:00' in hour.time or '12:00' in hour.time or '15:00' in hour.time or '18:00' in hour.time or '21:00' in hour.time %}
                                      <tr>
                                        <th>{{ hour.time|slice:'-5:-3'}}</th>
                                        <th>{{ hour.temp_c }} </th>
                                        <th><a class="w3-{{ hour.wind_alert }}">{{ hour.wind_kph }}</a></th>
                                        <th><a class="w3-{{ hour.gust_alert }}">{{ hour.gust_kph }}</a></th>
                                        <th><a class="w3-{{ hour.pressure_alert }}">{{ hour.mm_pressure }}</a></th>
                                        <th><a class="w3-{{ hour.k_index_alert  }}">{{ hour.k_index }}</a></th>
                                      </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>




                </div>
              </div>
            </div>

            <!-- Forecast tomorrow section -------------------->
            <div class="w3-col l3 m6 w3-margin-bottom">
              <div class="w3-card">
                <div class="w3-container">
                  <h3>Завтра</h3>
                            <style>
                            th {
                              text-align: left;
                            }
                            </style>

                            <table id="forecast1table">


                                      <tr>
                            <th>Час</th>
                            <th> Темп.</th>
                            <th> Ветер</th>
                            <th> Порыв</th>
                            <th> мм/р.т </th>
                            <th> Бури</th>
                          </tr>

                                {% for hour in forecast.forecastday.1.hour %}
                                    {% if '06:00' in hour.time or '09:00' in hour.time or '12:00' in hour.time or '15:00' in hour.time or '18:00' in hour.time or '21:00' in hour.time %}
                                      <tr>
                                        <th>{{ hour.time|slice:'-5:-3'}}</th>
                                        <th>{{ hour.temp_c }}</th>
                                        <th><a class="w3-{{ hour.wind_alert }}">{{ hour.wind_kph }}</a></th>
                                        <th><a class="w3-{{ hour.gust_alert }}">{{ hour.gust_kph }}</a></th>
                                        <th><a class="w3-{{ hour.pressure_alert }}">{{ hour.mm_pressure }}</a></th>
                                        <th><a class="w3-{{ hour.k_index_alert  }}">{{ hour.k_index }}</a></th>
                                      </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>

                </div>
              </div>
            </div>

            <!-- Info section -->
            <div class="w3-col l12 m6 w3-margin-bottom center-block">
          <div class="w3-card">
            <div class="w3-container">
              <h3>Цветовые индикаторы</h3>
              <p>Самое главное отличие нашего прогноза для метеозависимых людей от обычного прогноза погоды - это выбор только тех данных которые влияют на здоровье - и цветовые индикаторы!.
              Черная цифра - параметр в норме, оранжевая - значение превышено, красная - значение высокое и может влиять на самочувствие.</p>
            </div>
          </div>
        </div>

</div>

<!-- feel form Section -->
<div class="w3-container w3-light-grey" style="padding:120px 16px" id="contact">
  <h3 class="w3-center">Сохраните погоду и ваше самочувствие для дальнейшего анализа.</h3>
  <p class="w3-center ">Будет доступно в вашей истории самочувствия (если зарегистрированны)</p>

  <div style="margin-top:1px" class="w3-center w3-large">
      <form action="{% url 'save_feel_data' %}">
                  <p>{{ user }}, как вы себя чувствуете?:</p>
                  <input type="radio" id="feel_num" required name="feel_num" value="0">
                  <label for="html">не очень</label><br>
                  <input type="radio" id="feel_num" required name="feel_num" value="1">
                  <label for="css">нормально </label><br>
                  <input type="radio" id="feel_num" required name="feel_num" value="2">
                  <label for="javascript">отлично</label>

                  <br>

                  <p>Какое у вас недомогание? (необязательно):</p>
                  <input type="radio" id="feel_info" name="feel_info" value="Головная боль">
                  <label for="age1">Головная боль</label><br>
                  <input type="radio" id="feel_info" name="feel_info" value="Давление">
                  <label for="age2">Давление</label><br>
                  <input type="radio" id="feel_info" name="feel_info" value="Слабость">
                  <label for="age3">Слабость</label><br>
                    <input type="radio" id="feel_info" name="feel_info" value="Боль в сутавах">
                  <label for="age3">Боль в сутавах</label><br>
                    <input type="radio" id="feel_info" name="feel_info" value="Ухудшение зрения">
                  <label for="age3">Ухудшение зрения</label><br><br>
                  <input type="submit" value="Submit">
                </form>
  </div>

</div>

{% endblock %}

