<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
        <body style="background-color:#0b2d41; color: #95bc93;">


                    <style>
                    th {
                      text-align: left;
                    }
                    </style>

                    {% if not status %}






                    {% if messages %}

                            <ul class="messages">
                            {% for message in messages %}
                                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                            </ul>

                    {% endif %}







                   <table id="locationtable">
                              <tr>
                                <th>Location</th>
                                <th></th>
                              </tr>

                                <tr>
                                <th>City: {{location.name}} </th>
                                <th>Country: {{location.country}} </th>
                                </tr>

                              </tr>
                                <tr>
                                <th>Coord: {{location.lat}} / {{location.lon}}</th>
                                <th>Time: {{location.localtime}}</th>
                              </tr>
                    </table>



                   <p></p>

                   <table id="currenttable">
                              <tr>
                                <th>Current weather</th>
                                <th></th>
                              </tr>
                              <tr>
                                <th>temp_c</th>
                                <th>{{current.temp_c}}</th>
                              </tr>
                                <tr>
                                <th>wind_kph</th>
                                <th><a style="color:{{ current.wind_alert }}">{{current.wind_kph}}</a></th>
                              </tr>

                            <tr>
                                <th>gust_kph</th>
                                <th><a style="color:{{ current.gust_alert }}">{{current.gust_kph}}</a></th>
                              </tr>

                            <tr>
                                <th>pressure_mm</th>
                                <th><a style="color:{{ current.pressure_alert }}">{{current.pressure_mm}}</a></th>
                            </tr>
                            <tr>
                                <th>k_index_current</th>
                                <th><a style="color:{{ current.k_index_alert }}">{{current.k_index_current}}</a></th>
                            </tr>
                    </table>


                   <p></p>


                    <table id="forecast0table">
                            <tr>
                                <th>Today:</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                              </tr>

                              <tr>
                                <th>Time</th>
                                <th>Temp C</th>
                                <th>wind_kph</th>
                                <th>wind_gust</th>
                                <th>pressure</th>
                                <th>k_index</th>
                              </tr>

                        {% for hour in forecast.forecastday.0.hour %}
                            {% if '06:00' in hour.time or '09:00' in hour.time or '12:00' in hour.time or '15:00' in hour.time or '18:00' in hour.time or '21:00' in hour.time %}
                              <tr>
                                <th>{{ hour.time|slice:'-5:'}}</th>
                                <th>{{ hour.temp_c }}</th>
                                <th><a style="color:{{ hour.wind_alert }}">{{ hour.wind_kph }}</a></th>
                                <th><a style="color:{{ hour.gust_alert }}">{{ hour.gust_kph }}</a></th>
                                <th><a style="color:{{ hour.pressure_alert }}">{{ hour.mm_pressure }}</a></th>
                                <th><a style="color:{{ hour.k_index_alert  }}">{{ hour.k_index }}</a></th>
                              </tr>
                            {% endif %}
                        {% endfor %}
                    </table>

<br>

                    <table id="forecast0table">
                            <tr>
                                <th>Tmrow:</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                              </tr>

                              <tr>
                                <th>Time</th>
                                <th>Temp C</th>
                                <th>wind_kph</th>
                                <th>wind_gust</th>
                                <th>pressure</th>
                                <th>k_index</th>
                              </tr>

                        {% for hour in forecast.forecastday.1.hour %}
                            {% if '06:00' in hour.time or '09:00' in hour.time or '12:00' in hour.time or '15:00' in hour.time or '18:00' in hour.time or '21:00' in hour.time %}
                              <tr>
                                <th>{{ hour.time|slice:'-5:'}}</th>
                                <th>{{ hour.temp_c }}</th>
                                <th><a style="color:{{ hour.wind_alert }}">{{ hour.wind_kph }}</a></th>
                                <th><a style="color:{{ hour.gust_alert }}">{{ hour.gust_kph }}</a></th>
                                <th><a style="color:{{ hour.pressure_alert }}">{{ hour.mm_pressure }}</a></th>
                                <th><a style="color:{{ hour.k_index_alert  }}">{{ hour.k_index }}</a></th>
                              </tr>
                            {% endif %}
                        {% endfor %}
                    </table>





                <form action="{% url 'save_feel_data' %}">
                  <p>{{ user }}, как вы себя чувствуете?:</p>
                  <input type="radio" id="feel_num" name="feel_num" value="0">
                  <label for="html">не очень</label><br>
                  <input type="radio" id="feel_num" name="feel_num" value="1">
                  <label for="css">нормально </label><br>
                  <input type="radio" id="feel_num" name="feel_num" value="2">
                  <label for="javascript">отлично</label>

                  <br>

                  <p>Какое у вас недомогание? (необязательно):</p>
                  <input type="radio" id="feel_info" name="feel_info" value="Головная боль">
                  <label for="age1">Головная боль</label><br>
                  <input type="radio" id="feel_info" name="feel_info" value="Давление">
                  <label for="age2">Давление</label><br>
                  <input type="radio" id="feel_info" name="feel_info" value="Слабость">
                  <label for="age3">Слабость</label><br>
                    <input type="radio" id="feel_info" name="feel_info" value="Боль в сутавах">
                  <label for="age3">Боль в сутавах</label><br>
                    <input type="radio" id="feel_info" name="feel_info" value="Ухудшение зрения">
                  <label for="age3">Ухудшение зрения</label><br><br>
                  <input type="submit" value="Submit">
                </form>
        <br>>

{#        <a href="{% url 'get_weather' loc %}">Вход</a><br>#}
        <a href="{% url 'feel_history' %}">Моя история<</a>


        <br>
        {% endif %}
</body>
</html>