
{% extends 'base.html' %}
{% load static %}
{% block content %}



<!-- Promo Section - "We know design" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="search_city">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>В каком городе вы находитесь?</h3>


            {% if messages %}

                            <ul class="messages">
                            {% for message in messages %}
                                     <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                            </ul>

                    {% endif %}




            <form action="{% url 'check_location' %}">
              <label for="loc"></label><br>
              <input type="text" id="loc" name="loc" value="Tokio"><br><br>
              <input type="submit" value="Submit">
            </form>


{#      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore.</p>#}
    </div>

  </div>
</div>


{% endblock %}


